@import url('https://fonts.googleleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}

body
{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: #e3f2fd;
}

.wrapper {
    width: 780px;
    border-radius: 20px;
    padding: 35px 40px;
    background: #141414;
    margin: auto;
}

select {
    padding: 5px;
}

button {
    padding: 5px;
}

.wrapper header * {
    color: #b2b2b2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1, h2 {
    font-size: 1.6rem;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
    text-align: justify;
}

header .options .column {
    display: flex;
    padding: 10px 10px;
    width: 200px;
}

header .column span {
    font-weight: 500;
    margin-right: 15px;
    font-size: 1.19rem;
}


.piano-keys {
    display: flex;
    margin-top: 40px;
}

.piano-keys .key {
    cursor: pointer;
    user-select: none;
    list-style: none;
    color: #888;
    position: relative;
}

.piano-keys .white {
    width: 70px;
    height: 230px;
    border-radius: 8px;
    border: 1px solid #000;
    background: linear-gradient(#fff 96%, #eee 4%);
}

.piano-keys .white.active {
    box-shadow: inset -5px 5px rgba(0,0,0,0.2);
    background: #eee;
}

.piano-keys .black{
    width: 54px;
    height: 140px;
    z-index: 2;
    margin: 0 -27px 0 -27px;
    border-radius: 0 0 5px 5px;
    border: 1px solid #000;
    background: linear-gradient(#010101 96%, #000 4%);
    color: #fff;
}

.piano-keys .black.active {
    box-shadow: inset -5px 5px rgba(f,f,f,f.2);
    background: #333;
}

.piano-keys span{
    position: absolute;
    bottom: 60px;
    width: 100%;
    font-size: 1.13rem;
    text-align: center;
}

.piano-keys p{
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-size: 1.13rem;
    text-align: center;
    color: #010101;
}

.piano-keys .third {
    background: #0f0;
}

.piano-keys .fourth {
    background: #ff0;
}

.piano-keys .last {
    background: #f00;
}

.piano-keys .home {
    background: #00d5ff;
}

.piano-keys .key.hide {
    z-index: -10;
}

.keyNums {
    margin: auto;
    margin-bottom: -40px;
    padding-left: 5px;
    width: 650px;
    justify-content: space-between;
    text-align: justify;
}